{% extends 'front/base.html.twig' %}

{% block title %}Brand
{% endblock %}

{% block body %}

	<div class="container mt-3">

		<div>
			<a href="{{ path('main') }}" class="btn btn-outline-primary">
				Accueil
			</a>
			<a href="{{ path('brand_list') }}" class="btn btn-outline-primary">
				Liste des marques
			</a>
		</div>

		<div class="container border rounded w-50 p-5 mt-5">
			<h1>{{ brand.name }}</h1>
			<p>{{ brand.country }}</p>
		</div>
	</div>

{% endblock %}
